$color-red: #e57373;
$color-green: #81c784;
$color-blue: #64b5f6;
$color-gray: #fafafa;
$color-black: #212121;

.popup-container {
  width: 280px;

  button:disabled {
    cursor: not-allowed;
  }

  .text-center {
    text-align: center;
  }

  .popup {
    padding: 20px 30px;
    color: $color-black;

    hr {
      margin-bottom: 20px;
    }

    .header {
      h2 {
        text-align: center;
        margin: 0;
      }
    }

    .body {
      margin-bottom: 20px;

      input[type='url'] {
        padding: 8px 10px;
        width: -webkit-fill-available;
        margin-bottom: 5px;
      }

      .error {
        color: red;
        opacity: 0;
      }
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: space-around;

      button {
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 5px;
        border: 1px solid $color-black;

        &.btn-primary {
          background-color: $color-green;
          color: white;
        }

        &.btn-default {
          background-color: $color-gray;
          color: $color-black;
        }
      }
    }

    .nav {
      a {
        text-align: center;
        margin-bottom: 20px;
        display: none;
      }

      button {
        cursor: pointer;
        padding: 5px 15px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid $color-black;
        margin-bottom: 8px;
        background-color: $color-gray;
      }
    }

    #at-scrapper, #at-copier, #at-feed-scrapper, #at-cr-scrapper {
      display: none;
    }

    #error {
      margin-top: 20px;
      color: $color-red;
    }
  }
}
